<div>
    <h2>Details</h2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="client.data.name">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" ng-model="client.data.description">
    </div>
    <div>
      <h3>
        Access Tokens
        <button class="btn btn-success btn-sm"
                ng-click="createAuthToken()">
          <i class="glyphicon glyphicon-plus"></i></button>
      </h3>
      <div class="list-group">
        <div class="list-group-item"
          ng-repeat="token in authTokens track by token.id">
          <span>
            <span ng-if="!token.editing">
              <strong ng-bind="token.label">rocket.chat</strong>
              <i ng-click="token.editing = true" class="glyphicon glyphicon-edit"></i>
            </span>
            <span ng-if="token.editing">
              <input type="text" ng-model="token.label">
              <i ng-click="updateAuthToken(token)" class="glyphicon glyphicon-floppy-disk"></i>
            </span>
          </span>
          <span ng-bind="token.created | date:'medium'">gestern</span>
          <span>
            <code><span ng-bind="token.token"></span></code>
          </span>
          <button class="btn btn-default btn-sm"
                  ng-click="revokeAuthToken(token)">
            <i class="glyphicon glyphicon-minus"></i>
          </button>
        </div>
      </div>
    </div>
</div>
<div class="config-part">
    <h2>Query Builders</h2>
    <div class="config-component" ng-repeat="builder in configuration.data.queryBuilder">
      <h3 ng-class="{unbound : builder.innerData.unbound}">
        <span class="config-component-name" ng-bind="builder.innerData.name"></span>
        <span class="config-component-type" ng-bind="builder.innerData.type"></span>
      </h3>
      <div class="form-group">
        <label>Name:</label>
        <input  class="form-control" type="text" ng-model="builder.innerData.displayName">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="builder.innerData.enabled"> Enabled</label>
      </div>
      <div class="form-group">
        <label for="comment">Configuration:</label>
        <textarea ui-codemirror ui-codemirror-opts="editorOptions" class="form-control" rows="20" id="comment" ng-model="builder.data"></textarea>
      </div>
      <button class="btn btn-danger" ng-click="removeComponent('queryBuilder',builder)">Remove Query Builder</button>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Query Builder
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li ng-repeat="builder in defaultConfiguration.data.queryBuilder"><a ng-click="addComponent('queryBuilder',builder)" ng-bind="builder.innerData.type"></a></li>
      </ul>
    </div>
</div>
<div>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="saveClient()">Save</button>
</div>

