<h2>Clients</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Last Update</th>
        <th>Is Default</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="client in clients">
        <td ng-bind="client.data.id">
        <td ng-bind="client.data.name">
        <td ng-bind="client.data.description">
        <td ng-bind="client.data.lastUpdate | date : 'MMM d, y h:mm:ss a' ">
        <td>
          <input ng-change="saveClient(client)" type="checkbox" ng-model="client.data.defaultClient">
        </td>
        <td>
          <button class="btn btn-default" ng-click="manageConversations(client.data.id)">conversations</button>
          <button class="btn btn-primary" ng-click="edit(client.data.id)">edit</button>
          <button class="btn btn-default" ng-click="clone(client.data.id)">clone</button>
          <button class="btn btn-danger" ng-click="delete(client)">delete</button>
        </td>
    </td>
    </tr>
</table>
<button class="btn btn-primary" ng-click="createClient()">Create Client</button>
