<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="smartiApp" ng-controller="RootCtrl as rootCtrl" ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="container">
    <button class="btn btn-default btn-sm pull-right"
            ng-if="user"
            ng-click="rootCtrl.logout()">logout {{user.name}}</button>
    <h1>Smarti Configuration</h1>
  </div>
</div>

<div class="container">
  <div ng-view=""></div>
</div>

<div class="footer">
  <div class="container">
    <p>with <span class="glyphicon glyphicon-heart"></span> from the Redlink Team</p>
  </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/codemirror/lib/codemirror.js"></script>
<script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config/toastr.js"></script>
<script src="scripts/filters/base64.js"></script>
<script src="scripts/services/userservice.js"></script>
<script src="scripts/services/clientservice.js"></script>
<script src="scripts/services/configurationservice.js"></script>
<script src="scripts/services/conversation.service.js"></script>
<script src="scripts/directives/username-exists.js"></script>
<script src="scripts/models/client.js"></script>
<script src="scripts/models/configuration.js"></script>
<script src="scripts/models/componentconfiguration.js"></script>
<script src="scripts/controllers/root.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/overview.js"></script>
<script src="scripts/controllers/client.js"></script>
<script src="scripts/controllers/clientSecurity.js"></script>
<script src="scripts/controllers/conversation.js"></script>
<script src="scripts/controllers/conversationEdit.js"></script>
<!-- endbuild -->

<!-- build:remove -->
<script src="scripts/dev.js"></script>
<!-- endbuild -->
</body>
</html>
