dist: trusty
language: java

cache:
  directories:
  - $HOME/.m2
  - frontend/src/bower_components
  - frontend/src/node_modules
  - integration/rocket-chat/node_modules

services:
  - mongodb

jdk:
  - openjdk8

before_install:
  - gem install sass
  - gem install compass

install:
  - mvn -B clean install -Dquick

script:
  - mvn -B -DargLine="-Xmx2g" test

after_success:
  - test ( $TRAVIS_BRANCH = master || $TRAVIS_BRANCH = documentation )
    && cd docs-generated/html; rm -rf ./target
    && git init
    && git config user.name "${GH_USER_NAME}"
    && git config user.email "{GH_USER_EMAIL}"
    && git add . ; git commit -m "Update GitHub Pages after commit to $TRAVIS_BRANCH"
    && git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:gh-pages > /dev/null 2>&1
